<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Plant My Study</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div>
    <form name="reset-password" id="reset-password">
      <input type="password" name="password" id="password">
      <input type="password" name="repeat-password" id="repeat-password">
      <button type="submit">Reset password</button>
      <div id="error-password" style="display: none; color: red; margin-top: 5px;">
        Hasła muszą być identyczne i muszą zawierać conajmniej 8 znaków, cyfrę i dużą literę!
      </div>
      <div id="error-auth" style="display: none; color: red; margin-top: 5px;">
        Twój token wygasł, spróbuj ponownie zainincjować email z linkiem resetującym hasło.
      </div>
      <div id="error-server" style="display: none; color: red; margin-top: 5px;">
        Wystąpił nieoczekiwany problem po stronie serwera, proszę skontaktuj się z naszym supportem plantmystudy@gmail.com
      </div>
    </form>
    <script>
      const apiUrl = "<%= apiUrl %>";
      document.getElementById("reset-password").addEventListener("submit", function(e) {
        e.preventDefault();
        const password = document.getElementById("password");
        const rePassword = document.getElementById("repeat-password");
        const errorPassword = document.getElementById("error-password");
        const errorAuth = document.getElementById("error-auth");
        const errorServer = document.getElementById("error-server");

        errorPassword.style.display = "none";
        errorAuth.style.display = "none";
        errorServer.style.display = "none";

        const hasEightCharacters = password.value.length >= 8;
        const hasNumber = /\d/.test(password.value);
        const hasUppercase = /[A-Z]/.test(password.value);

        if (password.value !== rePassword.value) {
          errorPassword.style.display = "block";
          return;
        }

        if (!hasEightCharacters || !hasNumber || !hasUppercase) {
          errorPassword.style.display = "block";
          return;
        }

        const params = new URLSearchParams(window.location.search);
        const tokenId = params.get("token-id");
        const token = params.get("token");
      fetch(`${apiUrl}/password/set/mail`, {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
          password: password.value,
          "token-id": tokenId,
          "token": token
        })
      }).then(res => {
        if (res.ok) {
          window.location.href = '/reset-password-success';
        } else if (res.status === 403) {
          res.json().then(data => {
            errorAuth.style.display = "block";
          });
        } else {
          res.json().then(data => {
            errorServer.style.display = "block";
          });
        }
      }).catch(error => {
        console.error("Error:", error);
      });
    })
  </script>
  </div>
</body>
</html>