<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Plant My Study</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div>
    <form name="set-password" id="set-password">
      <input type="password" name="password" id="password">
      <input type="password" name="repeat-password" id="repeat-password">
      <button type="submit">Set password</button>
    </form>
    <script>
      const apiUrl = "<%= apiUrl %>";
      document.getElementById("set-password").addEventListener("submit", function(e) {
        e.preventDefault();
        const params = new URLSearchParams(window.location.search);
        const tokenId = params.get("token-id");
        const token = params.get("token");
        fetch(`${apiUrl}/password/set/mail`, {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            password: document.getElementById("password").value,
            "token-id": tokenId,
            "token": token
          })
        }).then(res => res.json())
          .then(data => console.log("Odpowiedź:", data));
      });
  </script>
  </div>
</body>
</html>